html {
    box-sizing: border-box;
}

.body {
    background-image: url("../images/background.png"); 
    width: 100%;
}

.text {
    font-family: 'Courgette', cursive;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff;
}

header.text {
    font-size: 40px;
}

.gem {
    max-width: 274px;
    padding: 0 20;
    width: 100%; 
}

.imagebox {
    margin-bottom: 15px;
}


.winloss {
    margin-top: 20px;
}

#instructions {
    max-width: 600px;
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
    .imagebox {
        max-width: 275px;
        margin: 15px auto;
    }
}